body {
  background-color: #DC582C;
}

.card {
  opacity: 0.75;
}

.card a, .meta a {
  color: inherit;
  text-decoration: none;
}

.list-group li {
  border: none;
}

.fancy {
  color: #FDFBD4;
}

.lead {
  color: #FDFBD4;
}

.bolt {
  color: #FDFBD4;
}

.footer {
  background-color: #FDFBD4;
  opacity: 0.50;
}

.navbar {
  opacity: 0.75;
}
